.card{
    background-color: antiquewhite;
    width: 150px;
    position:relative;


}

.dlt{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 15px;
    height: 15px;
    background-color: red;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 50%;
}